@import url("nav.css");

.grid{
    padding-top: 15%;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto;
    column-gap: 15px;
    row-gap:15px;
    margin-left: 10px;
    margin-right: 10px;
    
}

.container{
    top:0;
    left: 0;
    display: block;
    position: relative;
    max-height:100%;
    max-width:100%;
}

div[class = "container"] img{
    display:block;
    position: relative;
    max-width: 100%;
    max-height: 100%;
}

