@import url("nav.css");

.gridarq {
    padding-top: 120px;
    display: grid;
    grid-template-columns: 6 1fr;
    grid-template-rows: 3 1fr;
    column-gap: 15px;
    row-gap:15px;
    margin-left: 10px;
    margin-right: 10px;
}


.container-1{
    top:0;
    left: 0;
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
}

div[class *= "container-"] img{
    display:block;
    position: relative;
    width: 80%;
    height: auto;
    margin: 10%;
}

.container-2{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
}

.container-3{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    grid-column-start: 3;
    grid-column-end: 4;
}

.container-4{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    grid-column-start: 4;
    grid-column-end: 5;
}

.container-5{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    grid-column-start: 5;
    grid-column-end: 6;
}

.container-6{
    display: block;
    position: relative;
    width: 100%;
    height: 100%;
    grid-column-start: 6;
    grid-column-end: 6;
}