.topnav {
    overflow: hidden;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 1;
    top:0;
  }

  .topnav input{
    position: absolute;
    right: 25vh;
    top: 6vh;
    width: 30vh;
    height:5vh;
    border: black solid 4px;
  }

  .filtros img{
    position: absolute;
    display: inline-block;
    right: 15vh;
    top:7vh;
    width: 5vh;
    height: 5vh;
  }

  .filtros img:last-child{
    right: 7vh;
  }

  #logo{
    width:200px;
    height:120px;
  }

.gridarq {
    padding-top: 120px;
    display: grid;
    grid-template-columns: 6 1fr;
    grid-template-rows: 3 1fr;
    column-gap: 15px;
    row-gap:15px;
    margin-left: 10px;
    margin-right: 10px;
}

.container1{
    display: block;
    position: relative;
    width: 100%;
    grid-column-start: 1;
    grid-column-end: 2;
    background-color: blue;
}

.container2{
    display: block;
    position: relative;
    width: 100%;
    grid-column-start: 2;
    grid-column-end: 3;
    background-color: rgb(0, 255, 72);
}

.container3{
    display: block;
    position: relative;
    width: 100%;
    grid-column-start: 3;
    grid-column-end: 4;
    background-color: rgb(255, 0, 204);
}

.container4{
    display: block;
    position: relative;
    width: 100%;
    height: 35vh;
    grid-column-start: 4;
    grid-column-end: 5;
    background-color: rgb(255, 72, 0);
}

.container5{
    display: block;
    position: relative;
    width: 100%;
    grid-column-start: 5;
    grid-column-end: 6;
    background-color: rgb(200, 0, 255);
}

.container6{
    display: block;
    position: relative;
    width: 100%;
    grid-column-start: 6;
    grid-column-end: 6;
    background-color: rgb(13, 18, 14);
}