/* Navigation Bar */
.topnav {
    overflow: hidden;
    position: fixed;
    background-color: white;
    width: 100%;
    z-index: 1;
    top:0;
  }

  .topnav input{
    position: absolute;
    right: 25vh;
    top: 6vh;
    width: 30vh;
    height:5vh;
    border: black solid 4px;
  }

  .filtros img{
    position: absolute;
    display: inline-block;
    right: 15vh;
    top:7vh;
    width: 5vh;
    height: 5vh;
  }

  .filtros img:last-child{
    right: 7vh;
  }

  #logo{
    width:200px;
    height:120px;
  }
/* End of Navigation Bar */