@import url("nav.css");
@media screen and (min-width: 780px) and (max-width: 1920px) {

    html,
    body {
        display: contents;
        width: 100%;
        height: 100%;
        overflow:hidden;
    }

    .grid {
        display: grid;
        padding-top: 60px;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .titulo{
        display: block;
        position: relative;
        float: right;
        grid-column-start: 2;
        grid-column-end: 3;
        top: 18vh;
    }

    .criadores{
        display: block;
        position: relative;
        float: right;
        grid-column-start: 2;
        grid-column-end: 3;
        top: 20vh;
    }

    .fotos_1{
        display: block;
        position: relative;
        float: right;
        grid-column-start:3;
        grid-column-end:4;
        right: 1vw;
        top: 10vh;
        margin-top: 5vh;
    }

    .fotos_2{
        display: block;
        position: relative;
        float: left;
        grid-column-start:4;
        grid-column-end:5;
        left: 1vw;
        top: 10vh;
        margin-top: 5vh;
    }
    
    .descricao{
        display: block;
        position: relative;
        float: left;
        grid-column-start: 4;
        grid-column-end: 6;
        left: 1vw;
        bottom: 17vh;

    }



}