@import url("nav.css");

@media screen and (min-width: 768px) {

    html,
    body {
        font-family: 'Roboto', sans-serif;
        display: contents;
        width: 100%;
        height: 100%;
        overflow: hidden;
    }

    .grid {
        display: grid;
        padding-top: 60px;
        grid-template-columns: repeat(6, 1fr);
        column-gap: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }

    .titulo {
        display: block;
        position: relative;
        float: right;
        grid-column-start: 2;
        grid-column-end: 3;
        left: 8.7vw;
        top: 14vh;
    }

    .criadores {
        display: block;
        position: relative;
        float: right;
        text-align: right;
        grid-column-start: 2;
        grid-column-end: 3;
        top: 14vh;
    }

    .fotos_1 {
        display: block;
        position: relative;
        float: right;
        grid-column-start: 3;
        grid-column-end: 4;
        right: 1vw;
        top: 2vh;
        margin-top: 5vh;
    }

    .fotos_2 {
        display: block;
        position: relative;
        float: left;
        grid-column-start: 4;
        grid-column-end: 5;
        left: 1vw;
        top: 2vh;
        margin-top: 5vh;
    }

    .descricao {
        display: block;
        position: relative;
        float: left;
        grid-column-start: 4;
        grid-column-end: 6;
        left: 1vw;
        bottom: 28vh;

    }
}

@media screen and (max-width: 767px) {

    html,
    body {
        font-family: 'Roboto', sans-serif;
    }

    .grid {
        display: block;
        position: relative;
        height: 10px;
        top: 160px;
    }

}